.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



p{
  width: 100vw;
  color:white;
}
.multimedia-player{
  width: 100vw;
  height:100vh;

}

button{
width:100vw;
height:100vh;
border:#61dafb;
background-color: #282c34;
font:100% white;
}

/* Definir un estilo base para el texto */
p {
  font-size: 24px;
  color: white;
}

/* Definir la animación */
@keyframes animacionTexto {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplicar la animación al texto */
p {
  animation: animacionTexto 2s ease-in-out infinite;
}